html,
body{
    background-color: #83c5be;
  }

.page{
    width: 2000px;  
    height: 1000px;  
    background-color: #edf6f9 ;   
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}
.vis-container{
    width: 80%;
}


