html,
body{
    background-color: #f9f5e9;
  }

.page{
    width: 1800px;    
    background-color: #f9f5e9 ;   
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}
.vis-container{
    width: 80%;
}


