html,
body{
    background-color: #83c5be;
  }

.page{
    width: 2000px;  
    height: 500px;  
    background-color: #edf6f9 ;   
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}
.vis-container{
    width: 80%;
}

h1 {
    text-align: center;
    color: #293241;
    font-size: 80px;
    font-family: Impact, Charcoal, sans-serif;
}

h2 {
    text-align: center;
    color: #028090;
    font-size: 35px;
    font-family: Impact, Charcoal, sans-serif;
    font-style: italic;
    
}


